*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-contain{
  display: flex;
  align-items: baseline;
}

.title{
  height: 5vh;
  margin: 8vh 0 6vh 0;
}

.about{
  height: 3vh;
  margin: 1vh;
}

.list{
  background-color: rgba(99, 98, 98, 0.482);
  height: 58vh;
  width: 70vw;
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px;
}

.list::-webkit-scrollbar {
  width:5px;
}

.list::-webkit-scrollbar-track {
  background: #ffffff00;
}

.list::-webkit-scrollbar-thumb {
  background: #F9CE2E;
  border-radius: 50px;
  height: 50px;
}

.player{
  color: #CCCCCC;
  border-bottom: 1px solid #cccccc81;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vh 5vw 1vh 5vw;
  align-items: center;
}

.react-stars{
  padding-bottom: 5px;
}

.fab-btn{
  height: 9vh;
  width: 10vw;
  outline: none;
  border: none;
  border-radius: 50px;
  position: absolute;
  right: 15vw;
  bottom: 13vh;
  background-image: url('assets/images/send_pc.svg');
  background-color: #F9CE2E;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  transition-duration: .3s;
}

.fab-btn:hover{
  opacity: .75;
}

@media (max-width: 600px)
{
  .fab-btn{
    height: 7vh;
    width: 35vw;
    outline: none;
    border: none;
    border-radius: 50px;
    right: 9vw;
    bottom: 5vh;
    background-image: url('assets/images/send_pc.svg');
    background-color: #F9CE2E;
    background-repeat: no-repeat;
    background-size: 60%;
    transition-duration: .3s;
  }

  .list{
    background-color: rgba(99, 98, 98, 0.482);
    height: 60vh;
    width: 85vw;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
  }
}